services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: winecellar_sql
    environment:
      SA_PASSWORD: "bourgogne2026!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data:
